﻿@model List<Challenge>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (!ViewBag.DailyCredit)
    {
        <form asp-action="GetCredit">
            <button>Obtiens ton crédit quotidien !</button>
        </form>
    }
    @if (!ViewBag.DailyCoffee)
    {
        <form asp-action="GetCoffee">
            <button>Obtiens ton café quotidien !</button>
        </form>
    }

    @foreach (var item in Model)
    {
        <a asp-action="Quizz" asp-controller="Home" asp-route-id="@item.Id">Cliquez pour faire ce challenge</a><br />
    }
    @if (!ViewBag.dailyChallenge)
    {
        <form asp-action="CreateChallenge" asp-controller="Home">
            <select name="email">
                @foreach (var user in userManager.Users)
                {
                    if (user.Id != userManager.GetUserId(User))
                    {
                        <option value="@user.Email">@user.Email</option>
                    }
                }
            </select>
            <button type="submit">Créer Challenge</button>
        </form>
    }

</div>