﻿@model List<Questionnaire>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager
@{
    ViewData["Title"] = "Home Page";
    var idQuestion = 1;
    var idProposition = -1;
}

<div class="text-center">
    <h3>Score : <h3 id="score"></h3></h3>
    @foreach (var question in Model)
    {
        <h4>@question.Question</h4>

        <br />
        <div id="@idQuestion">
            @foreach (var proposition in question.propositions)
            {

                <button data-correct="@proposition.IsCorrect" id="@idProposition" onclick="checkIfTrue('@proposition.IsCorrect', '@idQuestion', '@idProposition')" style="margin-right:5px;" class="btn btn-secondary">@proposition.Intitule</button>
                idProposition--;
            }
            @{
                idQuestion++;
            }
        </div>


        <br />

    }
    <form onsubmit="return isValid()" asp-action="ValidateScore">
        <input name="score" id="scoreFinal" type="hidden" value="" />
        <input name="user" type="hidden" value="@userManager.GetUserName(User)" />
        <input name="id" type="hidden" value="@ViewBag.id" />
        <button type="submit">Valider</button>
    </form>
</div>