﻿@model Score
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager
<div class="text-center">
    <h3>Vous avez obtenu : @Model.scoreQuestions points !</h3>
    @if (@ViewBag.enemyResponse)
    {
        @if (ViewBag.gagnant.user == userManager.GetUserName(User))
        {
            <h3>Félicitations, Vous avez remporté votre duel ! Vous gagné 1 crédits</h3>
        }
        else
        {
            <h3>Vous avez été battu ! Votre adversaire a fait @ViewBag.gagnant.scoreQuestions points.</h3>
        }
    }
    else
    {
        <h3>Votre adversaire n'a pas encore joué...</h3>
    }
    <a asp-action="Index">Retour à l'acceuil</a>

</div>
